@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 42px;
}

.refresh {
	width: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
	outline: 0;
	border-radius: 2px;
	box-sizing: border-box;
	color: black;
}

.refresh:hover {
	outline: 1px solid black;
}

@media (max-height: 990px) {
	.App.single footer {
		position: absolute;
		bottom: 0;
	}
}
